<html>
  <head>
        <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css"
            rel="stylesheet" type="text/css">
        <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css"
            rel="stylesheet" type="text/css">
        <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.css"
            rel="stylesheet" type="text/css">

        <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.js"></script>
        <title>Comparison Tool</title>
        {{ script | safe }}


  </head>
  <body>

    <div class=page>
      {{ div | safe }}
    </div>
    <p>
      Get more information about housing market values over time:
      <a target="_blank" href="https://hayesjosh.shinyapps.io/HouseShiny/">Market Trends</a>
    </p>
  </body>
</html>
