<html>
  <head>
        <title>Comparison Tool</title>
        <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css"
            rel="stylesheet" type="text/css">
        <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css"
            rel="stylesheet" type="text/css">
        <link
            href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.css"
            rel="stylesheet" type="text/css">

        <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.13.0.min.js"></script>
        {{ script | safe }}


  </head>
  <body>
    <div class=page>
      {{ div | safe }}
    </div>
  </body>
</html>
